:root {
    --main-bg-color: #ffffff;
    --secondary-bgc: #e0e0e0;
    --main-title-color: #323232;
    --secondary-title-color: #fff;
    --third-title-color: #000000;
    --main-text-color: #999999;
    --secondary-text-color: #ffffff;
    --accent-color: #4985ff;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }